// Typography
.display{
    font-size: var(--display);
    font-weight: var(--bold);
}
.heading-1{
    font-size: var(--heading-1);
    font-weight: var(--bold);
    line-height: var(--title-line-height);
}
.heading-2{
    font-size: var(--heading-2);
    font-weight: var(--bold);
    line-height: var(--title-line-height);
}
.heading-3{
    font-size: var(--heading-3);
    font-weight: var(--bold);
    line-height: var(--title-line-height);
}
.heading-4{
    font-size: var(--heading-4);
    font-weight: var(--bold);
    line-height: var(--title-line-height);
}
.heading-5{
    font-size: var(--heading-5);
    font-weight: var(--bold);
    line-height: var(--title-line-height);
}
.heading-6{
    font-size: var(--heading-6);
    font-weight: var(--bold);
    line-height: var(--title-line-height);
}
.body{
    font-size: var(--body);
    font-weight: var(--regular);
    line-height: var(--body-line-height);
}
.small{
    font-size: var(--small);
    font-weight: var(--regular);
    line-height: var(--body-line-height);
}
.tiny{
    font-size: var(--tiny);
    font-weight: var(--regular);
    line-height: var(--body-line-height);
}

.bold{
    font-weight: var(--bold);
}
.regular{
    font-weight: var(--regular);
}