// colors ------------------------------------------------------------------------

// primary
$primary-500: #5A873B;
$primary-200: #72AC4A;

// secondary
$secondary-500: #D3D606;
$secondary-200: #EADA47;

// neutral
$neutral-950: #0A0A0A;
$neutral-800: #262626;
$neutral-600: #525252;
$neutral-400: #A3A3A3;
$neutral-200: #E5E5E5;
$neutral-100: #F0F0F0;
$neutral-0: #FFFFFF;

// global
$white: $neutral-0;
$black: $neutral-950;

// $icon-primary: ;
// $icon-secondary: ;
// $icon-default: ;
// $icon-hover-primary: ;
// $icon-deep: ;
// $icon-error: ;

// $bg-primary: $neutral-200;
// $bg-secondary: ;
// $bg-action-primary: ;
// $bg-secondary: ;
// $bg-hover-primary: $primary-400;
// $bg-hover-secondary: ;
// $bg-error: ;

// $border-primary: ;
// $border-secondary: ;
// $border-hover-primary: ;
// $border-hover-secondary: ;

$text-primary: $neutral-950;
// $text-secondary: $primary-600;
// $text-hover-primary: $primary-600;
// $text-hover-secondary: $neutral-900;
// $text-deepbg-primary: $neutral-100;
// $text-error: $danger-300;
// $text-finish: $success-300;

// typography -------------------------------------------------------------------

// fonts
$en-font-family: "Poppins", sans-serif;
$zh-font-family: 'Noto Sans TC', sans-serif;
$font-family: $en-font-family, $zh-font-family;
// font sizes
:root{
    --display: 5rem;
    --heading-1: 3rem;
    --heading-2: 2.5rem;
    --heading-3: 2rem;
    --heading-4: 1.75rem;
    --heading-5: 1.5rem;
    --heading-6: 1.25rem;
    --body: 1rem;
    --small: .875rem;
    --tiny: .75rem;
    --bold: 700;
    --regular: 400;
    --title-line-height: 1.2;
    --body-line-height: 1.5;
}

// spacing -------------------------------------------------------------------

:root {
    --spacing-0: 0;
    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 20px;
    --spacing-6: 24px;
    --spacing-7: 32px;
    --spacing-8: 36px;
    --spacing-9: 40px;
    --spacing-10: 48px;
    --spacing-11: 64px;
    --spacing-12: 72px;
    --spacing-13: 80px;
    --spacing-14: 96px;
    --spacing-15: 128px;
}

// breakpoints --------------------------------------------------------------

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// border -------------------------------------------------------------------

$border-style: solid;
$border-width: 1px;
$border-color: $neutral-400;

:root {
    --radius-0: 0;
    --radius-1: 4px;
    --radius-2: 8px;
    --radius-3: 12px;
    --radius-4: 16px;
    --radius-5: 24px;
    --radius-6: 32px;
    --radius-7: 36px;
    --radius-8: 48px;
    --radius-circle: 1000px;
}
