<header class="header">
    <div class="container">
        <nav class="header-nav">
            <a href="#" class="header-logo"><img src="../assets/images/logo-text.svg" alt="元氣食所"></a>
            <form class="header-search" role="search">
                <input class="form-control" type="search" aria-label="Search" placeholder="季節主打商品熱賣中">
                <button class="btn" type="submit"><i class="fi fi-rr-search"></i></button>
            </form>
            <ul class="header-nav-list">
                <li><a href="#" class="nav-link fs-7">產品分類</a></li>
                <li><a href="#" class="nav-link fs-7">關於元氣食所</a></li>
                <li><a href="#" class="nav-link fs-7">專欄文章</a></li>
            </ul>
        </nav>
        <div class="buttons">
            <a href="#" class="header-button"><i class="fi fi-rr-user"></i></a>
            <a href="#" class="header-button"><i class="fi fi-rr-shopping-cart"></i></a>
        </div>
    </div>
</header>