.header{
  .navbar{
    padding: 1rem .75rem;
    .navbar-brand{
      svg{
        width: 138px;
        height: 40px;
      }
    }
    .navbar-toggler{
      width: 40px;
      height: 40px;
      border: none;
    }
  }
}