.main-index{
  .notify-banner{
    background-color: rgba($secondary-200, 0.5);
    padding: var(--spacing-4);
    p{
      font-size: var(--body);
      text-align: center;
    }
  }
  .index-banner{
    position: relative;
    padding: var(--spacing-3);
    .banner-img-box{
      width: 100%;
      aspect-ratio: 1 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: var(--radius-2);
      overflow: hidden;
      .banner-img{
        object-fit: cover;
        object-position: center;
        transform: rotate(180deg);
      }
    }
    .text-box{
      display: flex;
      flex-direction: column;
      gap: var(--spacing-4);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: var(--spacing-4);
      .banner-title{
        font-size: var(--heading-6);
        line-height: var(--title-line-height);
        color: $neutral-800;
      }
      .banner-btn{
        font-size: var(--body);
      }
    }
  }
  .products{
    padding: var(--spacing-9) var(--spacing-0);
    .container{
      display: flex;
      flex-direction: column;
      gap: var(--spacing-6);
    }
    .title-box{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--spacing-1);
      padding: var(--spacing-0) var(--spacing-8);
      .title{
        font-size: var(--heading-6);
        font-weight: var(--bold);
        color: $primary-200;
        text-align: center;
        flex-grow: 1;
      }
      .dot{
        width: .5rem;
        height: .5rem;
        background-color: $primary-200;
        border-radius: var(--radius-circle);
      }
    }
  }
  .intro-section{
    padding: var(--spacing-9) 0;
    .container{
      display: flex;
      flex-direction: column;
      gap: var(--spacing-6);
      .img-box{
        height: 240px;
        background-color: $neutral-0;
        border-radius: var(--spacing-8);
        overflow: hidden;
        img{
          width: 100%;
          object-fit: cover;
          object-position: center;
          opacity: .8;
        }
      }
      .text-box{
        display: flex;
        flex-direction: column;
        gap: var(--spacing-6);
        padding: var(--spacing-0) var(--spacing-4);
        .title-box{
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: var(--spacing-2);
          .title{
            font-size: var(--heading-5);
            font-weight: var(--bold);
            line-height: var(--title-line-height);
            color: $primary-200;
          }
          .deco-dots{
            display: flex;
            gap: var(--spacing-10);
            .dot{
              width: .5rem;
              height: .5rem;
              background-color: $primary-200;
              border-radius: var(--radius-circle);
            }
          }
        }
        .subtitle{
          font-size: var(--body);
          font-weight: var(--bold);
          color: $primary-200;
        }
        .desc{
          font-size: var(--body);
        }
        .btn-text-icon-outline{
          font-size: var(--body);
          align-self: flex-start;
        }
      }
      .deco-imgs{
        display: flex;
        justify-content: space-between;
        gap: var(--spacing-6);
        .deco-img{
          width: 100px;
          height: 100px;
          img{
            width: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
  .health-series{
    background-color: $neutral-100;
    .container{
      .img-box{
        border: 8px solid $neutral-0;
      }
    }
  }
  .column-articles{
    background-color: $secondary-200;
    padding: var(--spacing-9) 0;
    .container{
      display: flex;
      flex-direction: column;
      gap: var(--spacing-6);
      .title-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--spacing-6);
        .title{
          font-size: var(--heading-6);
          font-weight: var(--bold);
        }
        .btns button{
          background: none;
          border: none;
          padding: var(--spacing-2);
        }
      }
    }
  }
  .column-articles-1{
    .carousel-container{
      .slide-card-2, .slide-card-3, .slide-card-4{
        display: none;
      }
    }
  }
  .column-articles-2{
    background-color: transparent;
    .container{
      .title-wrapper{
        align-items: flex-end;
        .title-box{
          display: flex;
          flex-direction: column;
          gap: var(--spacing-2);
          svg{
            width: 40px;
            height: 22px;
          }
          .title{
            color: $primary-200;
          }
        }
      }
      .carousel-container{
        .slide-card{
          border-bottom: 1px solid $primary-200;
          border-radius: 0;
          .card-title{
            font-size: var(--body);
            font-weight: var(--regular);
            color: $neutral-800;
          }
          .desc{
            color: $neutral-600;
          }
          .card-bottom{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .date{
              display: flex;
              gap: var(--spacing-1);
              color: $primary-200;
              p{
                font-size: var(--small);
                font-weight: var(--bold);
              }
              span{
                font-family: $en-font-family;
                font-size: var(--small);
                font-weight: 600;
              }
            }
            .read-more{
              display: flex;
              gap: var(--spacing-2);
              font-size: var(--small);
              font-weight: var(--bold);
              color: $primary-200;
              svg{
                width: var(--spacing-4);
                height: var(--spacing-4);
              }
            }
          }
        }
        .slide-card-4{
          .imgs{
            img{
              transform: rotate(180deg);
            }
          }
        }
        .slide-card-2, .slide-card-3, .slide-card-4{
          display: none;
        }
      }
    }
  }
}